<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="efestus.musication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clefencil_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clefencil_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoActivity"
            android:label="Info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lvl2_notmus_1" />
        <activity android:name=".lvl2_notmus_2" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".lvl1_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lvl1_teomus_1" />
        <activity android:name=".lvl1_teomus_2" />
        <activity
            android:name=".lvl2_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lvl2_notmus_3" />
        <activity android:name=".lvl2_notmus_4" />
        <activity android:name=".lvl2_notmus_5" />
        <activity android:name=".lvl2_notmus_6" />
        <activity android:name=".lvl2_notmus_7" />
        <activity android:name=".lvl2_notmus_8" />
        <activity
            android:name=".lvl3_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lvl3_part_1" />
        <activity android:name=".lvl3_part_2" />
        <activity android:name=".lvl3_part_3" />
        <activity android:name=".lvl3_part_4" />
        <activity android:name=".lvl3_part_5" />
        <activity android:name=".lvl3_part_6" />
        <activity
            android:name=".lvl4_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lvl1_teomus_3" />
        <activity android:name=".lvl2_cordas_1" />
        <activity android:name=".lvl1_resumoinstru_1" />
        <activity android:name=".lvl1_resumoinstru_2" />
        <activity android:name=".lvl1_resumoinstru_3" />
        <activity android:name=".lvl2_percussao_1" />
        <activity android:name=".lvl2_percussao_2" />
        <activity android:name=".lvl2_percussao_3_questao" />
        <activity android:name=".lvl2_percussao_4" />
        <activity android:name=".lvl2_percussao_5" />
        <activity android:name=".lvl2_percussao_6_questao" />
        <activity android:name=".lvl2_percussao_7" />
        <activity android:name=".lvl2_percussao_8_questao" />
        <activity android:name=".lvl2_sopro_1" />
        <activity android:name=".lvl2_sopro_2" />
        <activity android:name=".lvl2_sopro_4" />
        <activity android:name=".lvl2_sopro_5" />
        <activity android:name=".lvl2_sopro_6" />
        <activity android:name=".lvl2_sopro_7" />
        <activity android:name=".lvl2_sopro_8_questao" />
        <activity android:name=".lvl2_sopro_9" />
        <activity android:name=".lvl2_sopro_10_questao" />
        <activity android:name=".lvl2_sopro_11_questao" />
        <activity android:name=".lvl2_sopro_12_questao" />
        <activity android:name=".lvl2_sopro_13_questao" />
        <activity android:name=".lvl2_cordas_3" />
        <activity android:name=".lvl2_cordas_4" />
        <activity android:name=".lvl2_cordas_5" />
        <activity android:name=".lvl2_cordas_6_questao" />
        <activity android:name=".lvl2_cordas_7" />
        <activity android:name=".lvl2_cordas_2" />
        <activity android:name=".lvl2_cordas_8" />
        <activity android:name=".lvl2_cordas_9" />
        <activity android:name=".lvl2_cordas_10" />
        <activity android:name=".lvl2_cordas_11" />
        <activity android:name=".lvl2_cordas_12" />
        <activity android:name=".lvl2_cordas_13" />
        <activity android:name=".lvl2_cordas_14_questao" />
        <activity android:name=".lvl2_cordas_15_questao" />
        <activity android:name=".lvl2_cordas_16_questao" />
        <activity android:name=".lvl2_cordas_17_questao" />
        <activity android:name=".lvl2_cordas_18_questao" />
        <activity android:name=".lvl2_cordas_19_questao" />
        <activity android:name=".lvl2_cordas_20_questao" />
        <activity android:name=".lvl1_pretesteins_1" />
        <activity android:name=".lvl1_pretesteins_2" />
        <activity android:name=".lvl1_pretesteins_3" />
        <activity android:name=".lvl1_pretesteins_4" />
        <activity android:name=".lvl1_pretesteins_5" />
        <activity android:name=".lvl1_pretesteins_6" />
        <activity android:name=".lvl1_pretesteins_7" />
        <activity android:name=".lvl1_pretesteins_8" />
        <activity android:name=".lvl1_pretesteins_9" />
        <activity android:name=".lvl1_pretesteins_10" />
        <activity android:name=".lvl1_pretesteins_11" />
        <activity android:name=".lvl1_pretesteins_12" />
        <activity android:name=".lvl1_pretesteins_13" />
        <activity android:name=".lvl1_pretesteins_14" />
        <activity android:name=".lvl1_pretesteins_15" />
        <activity android:name=".lvl1_pretesteins_16" />
        <activity android:name=".lvl3_timbre_1" />
        <activity android:name=".lvl3_timbre_2" />
        <activity android:name=".lvl3_timbre_3" />
        <activity android:name=".lvl3_timbre_4" />
        <activity android:name=".lvl3_timbre_5" />
        <activity android:name=".lvl1_genmus_1" />
        <activity android:name=".lvl1_genmus_2" />
        <activity android:name=".lvl1_genmus_3" />
        <activity android:name=".lvl2_muspop_1" />
        <activity android:name=".lvl2_muspop_2" />
        <activity android:name=".lvl2_muspop_3" />
        <activity android:name=".lvl2_muspop_4" />
        <activity android:name=".lvl2_musclas_1" />
        <activity android:name=".lvl2_musclas_2" />
        <activity android:name=".lvl2_musclas_3" />
        <activity android:name=".lvl3_classico_1" />
        <activity android:name=".lvl3_classico_2" />
        <activity android:name=".lvl3_blues_1" />
        <activity android:name=".lvl3_blues_2" />
        <activity android:name=".lvl3_eletro_1" />
        <activity android:name=".lvl3_eletro_2" />
        <activity android:name=".lvl3_rap_1" />
        <activity android:name=".lvl3_rap_2" />
        <activity android:name=".preteste_genmus_1" />
        <activity android:name=".preteste_genmus_3" />
        <activity android:name=".preteste_genmus_4" />
        <activity android:name=".preteste_genmus_5" />
        <activity android:name=".preteste_genmus_6" />
        <activity android:name=".preteste_genmus_7" />
        <activity android:name=".preteste_genmus_8" />
        <activity android:name=".preteste_genmus_9" />
        <activity android:name=".preteste_genmus_10" />
        <activity android:name=".preteste_genmus_11" />
        <activity android:name=".preteste_genmus_12" />
        <activity android:name=".preteste_genmus_13" />
        <activity android:name=".lvl3_blues_3_questao" />
        <activity android:name=".lvl3_eletro_3_questao" />
        <activity android:name=".lvl2_musclas_4_questao" />
        <activity android:name=".lvl3_rap_3_questao" />
        <activity android:name=".lvl3_eletro_4_questao" />
        <activity android:name=".lvl1_genmus_4_questao" />
        <activity android:name=".lvl1_genmus_5_questao" />
        <activity android:name=".lvl1_genmus_6_questao" />
        <activity android:name=".lvl1_genmus_7_questao" />
        <activity android:name=".lvl1_genmus_8_questao" />
        <activity android:name=".lvl2_musclas_5_questao" />
        <activity android:name=".lvl4_ritmo_1" />
        <activity android:name=".lvl4_ritmo_2" />
        <activity android:name=".lvl4_ritmo_3" />
        <activity android:name=".lvl4_ritmo_4" />
        <activity android:name=".lvl4_ritmo_6_questao" />
        <activity android:name=".lvl4_ritmo_5" />
        <activity android:name=".lvl4_ritmo_7_questao" />
        <activity android:name=".lvl4_ritmo_8_questao" />
        <activity android:name=".lvl4_ritmo_9" />
        <activity android:name=".lvl4_ritmo_10" />
        <activity android:name=".lvl4_ritmo_11" />
        <activity android:name=".lvl4_ritmo_12" />
        <activity android:name=".lvl4_ritmo_13" />
        <activity android:name=".lvl4_ritmo_14" />
        <activity android:name=".lvl4_ritmo_15" />
        <activity android:name=".lvl4_ritmo_16_questao" />
        <activity android:name=".lvl4_ritmo_17_questao" />
        <activity android:name=".lvl1_pretesteins_0"></activity>
    </application>

</manifest>